/* body {
    margin: 0;
    padding: 0;
    height:1000px;
   }

   .footer {
    background-color: #282c34;
    border-top:2px solid rgb(197, 184, 184);
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    font-size: 25px;
    height: 50px;
   } */
   /* .main-footer {
    color: white;
    background-color: #282c34;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
  } */
