* {
    margin: 0 ;
    padding: 0 ;
}
#container{
    margin-top:2%;
}

.card {
    width: 350px ;
    background-color: #efefef ;
    border: none ;
    cursor: pointer ;
    transition: all 0.5s ;
}

.image img {
    transition: all 0.5s ;
}

.card:hover .image img {
    transform: scale(1.5) ;
}

.btn {
    height: 30px ;
    width: 140px ;
    border-radius: 50%
    
}

.name {
    font-size: 22px ;
    font-weight: bold
}

.idd {
    font-size: 14px ;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px ;
    font-weight: bold
}

.follow {
    font-size: 12px ;
    font-weight: 500 ;
    color: #444444
}

.btn1 
    {background-color: #9abac7; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;}


.text span {
    font-size: 13px ;
    color: #545454 ;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px ;
    color: #a0a0a0 ;
    font-weight: bold
}

.date {
    background-color: #ccc
}
.profilebox{
    border:solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-bottom: 30px;

}
.button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:rgb(190, 218, 160);
    text-align: center;
    cursor: pointer;
    width: 60%;
    font-size: 18px;
}
.p2{
    /* background-color: rgb(43, 74, 92); */
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: 200;
}